a {
  color: rgb(102, 102, 102);
  text-decoration: none;
}
.href{

}

.container{
  display: block;
  margin-right: 0;
  padding-left: 0;
}
.sidebar{
  display: inline-block;
  width:25%;
  vertical-align: top;
  color: rgb(170, 170, 170);
  text-align: left;
  padding: 31px;
  box-sizing: border-box;
}

.sidebar-title{
  color: black;
  font-family: Arial;
  font-size: 16px; 
 
}
.blog-desc{
  color: rgb(170, 170, 170);
  font-size: 17px;
}
.content{
  display: inline-block;
  vertical-align: top;
  width: 65%;
  padding-left: 10px;
}

.search-title{
  color: rgb(170, 170, 170);
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-family: Arial;
  box-sizing: border-box;
}

.sidebar-title{
  color: #666;
  text-align: left;
  text-transform: uppercase;
}

.h1{
  font-family: Arial;
  font-size: 40px;
  color: #66666;
}

.h2{
font-family: Arial;
font-size: 36px;
font-weight: bold;
color: rgb(51, 51, 51);
}

.header-background{
  background-size: auto;
  width: 50%;
  box-sizing: border-box;
  margin-top: -10px;
  margin-left: 0px;
  margin-right: 0%;
  position: relative;
}

.middle{
  display: inline-block;
  margin-top: 40px;
}

.logo1{
  width: 96px;
  border: solid 5px white;
  border-radius: 70px;
  position: relative;
  top: -54px;
  left: 101px;
  box-sizing: border-box;
}

.logo2{
  width: 64px;
  position: relative;
  border-radius: 35px;
  margin-left: 95px;
  text-align: right;
  margin-right: 10px;
}
.p2{
  font-size: 17px;
  color: rgb(102, 102, 102);
  line-height: 26px;
  font-family: PT Serif, serif;
}

.tiy-logo-1 {
  height: 0px;
}

.block{

}

.tumbler{
  width: 20%;
  display: block;
  border: solid;
  border-bottom: 1px gray;
  padding-top: 10px;
  padding-bottom: 50px;
}

.buttons{
  color: rgb(102, 102, 102);
  display: inline-block;
  position: static;
}

.footer {
  border-top: solid 1px;
  border-color: rgb(238, 238, 238);
  display: block;
  margin-top: 100px;
  padding: 60px 0px;   
}

.right-foot, .tiy-logo-2 {
  display: inline-block;
  vertical-align: top;
}
.tiy-logo-2{
  border-radius: 35px
}

.left-foot{
  width: 20%;
  display: inline-block;
  float: left;
  margin-left: -10px;
  text-align: right;
  padding-right: 40px;
  padding-bottom: 40px;

}
.footer-left{
  width: 64px;
  position: relative;
  border-radius: 35px;
  text-align: right;
  margin-bottom: 30px;
}

.right-foot{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  line-height: 26px;
  color: rgb(170, 170, 170);
  margin-top: -17px;
}

.foot-font1{
  font-size: 14px;
  font-family: Arial;
  color: rgb(170, 170, 170);
}

.foot-font2{
  font-size: 17px;
  font-family: PT Serif;
  color: rgb(170, 170, 170);
}

.foot-font3{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(221, 221, 221);
}

.footer-text {
  margin-top: 20px;
}

.theme-foot{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  line-height: 26px;
  color: rgb(102, 102, 102);
}

.tumbler{
  width: 100%;
  bottom-border: 1px;
  border-bottom-color: rgb(170, 170, 170);
  padding-top: 10px;
  padding-bottom: 60px;
  display: block;
  box-sizing: border-box;

}

.buttons{
  display: block;
}

}
.Like, .Reblog, .Share{
  color: rgb(102, 102, 102);
  padding: 10px;
  display: inline-block;
  position: static;
}
.sticky-wrap{
  position: fixed;
  border-color: gray;
  height: 50px;
  width: 10%;
  display: block;
  vertical-align: bottom;
  box-sizing: border-box;
}

.top-wrap{

}

.never{

}

.closewindow{

}

.bottom-wrap{

}

.footerleft{

}

.mid-wrap{

}

.tiydc1{

}

.tiydc2{

}

.follow{

}